.SpiffCalendarDialog {
background: #fefefe;
color: #333;
box-shadow: 0 8px 15px rgba(0, 0, 0, .3);
-webkit-transition: box-shadow .2s;
-moz-transition: box-shadow .2s;
-o-transition: box-shadow .2s;
transition: box-shadow .2s;
}

.SpiffCalendarDialog:hover {
background: #fefefe;
color: #333;
box-shadow: 0 8px 20px rgba(0, 0, 0, .3);
-webkit-transition: box-shadow .2s;
-moz-transition: box-shadow .2s;
-o-transition: box-shadow .2s;
transition: box-shadow .2s;
}

.SpiffCalendarDialog .ui-dialog-titlebar {
display: none;
}

.SpiffCalendarDialog h2 {
margin-top: 0;
}

.SpiffCalendarDialog .general {
margin-bottom: .7em;
}

.SpiffCalendarDialog .general input {
display: block;
margin: .3em auto;
width: 100%;
}

.SpiffCalendarDialog .radio-bar {
display: flex;
border: 1px solid #bbb;
}

.SpiffCalendarDialog .radio-bar button {
flex: 1;
padding: .4em;
border: none;
background-color: #beb;
white-space: nowrap;
}

.SpiffCalendarDialog .radio-bar button:not(:first-child) {
border-left: 1px solid #bbb;
}

.SpiffCalendarDialog .radio-bar button.active {
background-color: #9c9;
}

.SpiffCalendarDialog #recurring-period {
margin: .5em auto;
}

.SpiffCalendarDialog input[type=number] {
width: 3.5em;
}

.SpiffCalendarDialog #buttons {
text-align: right;
}

.SpiffCalendarDialog #buttons button {
padding: .3em 1em;
}

.SpiffCalendarDialog #button-delete {
float: left;
}

.SpiffCalendarDialog #error {
background-color: #f66;
border: 1px solid red;
padding: .5em;
margin: .5em 0;
}

.SpiffCalendarDialog #recurring-month-byday {
display: inline;
}

.SpiffCalendarDialog #recurring-detail #weekdays {
display: inline-block;
vertical-align: top;
}

.SpiffCalendarDialog #recurring-detail #weekdays label {
display: block;
white-space: nowrap;
}

.SpiffCalendarDialog .recurring-range {
display: inline;
margin-top: .5em;
}

.SpiffCalendarDialog .recurring-range select,
.SpiffCalendarDialog .recurring-range input {
display: inline;
width: auto;
}

.SpiffCalendarDialog .error {
background-color: #faa !important;
}
