.SpiffCalendar {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-moz-user-select: none;
-khtml-user-select: none;
-webkit-user-select: none;
user-select: none;
background-color: #e8e8e8;
height: 100%;
display: flex;
flex-direction: column;
}

.SpiffCalendar #navbar {
flex: 0 1 auto;
background: #eee;
padding: 0 1em;
color: #666;
}

.SpiffCalendar #navbar .nav-buttons {
float: left;
white-space: nowrap;
}

.SpiffCalendar #navbar .range-buttons {
float: right;
white-space: nowrap;
}

.SpiffCalendar #navbar h2 {
display: inline;
line-height: 2em;
font-size: 1.6em;
text-transform: uppercase;
padding: 0 1em;
margin: 0;
vertical-align: middle;
}

.SpiffCalendar #navbar input {
display: inline-block;
margin: .2rem;
border: 0;
font-size: 1.8em;
line-height: 1rem;
padding: 0 6px;
}

.SpiffCalendar #navbar .range-buttons input {
font-size: inherit;
}

.SpiffCalendar table {
flex: 1;
display: flex;
width: 100%;
table-layout: fixed;
border-spacing: 8px;
color: #666;
}

.SpiffCalendar table tbody {
display: flex;
flex-direction: column;
width: 100%;
}

.SpiffCalendar table tr {
flex: 1 1 0;
display: flex;
flex-direction: row;
width: 100%;
}

.SpiffCalendar table tr:first-child {
flex: 0;
min-height: 2.8em;
}

.SpiffCalendar table tr th,
.SpiffCalendar table tr td {
display: inline-flex;
flex: 1;
}

.SpiffCalendar table th {
justify-content: center;
align-items: center;
text-transform: uppercase;
font-weight: normal;
font-size: 1.5em;
padding: 1em;
}

.SpiffCalendar .day {
overflow: hidden;
position: relative;
padding: 0;
margin: 3px;
background-color: #fefefe;
box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
-webkit-transition: box-shadow .2s;
-moz-transition: box-shadow .2s;
-o-transition: box-shadow .2s;
transition: box-shadow .2s;
}

.SpiffCalendar .day:hover {
z-index: 2;
box-shadow: 0 6px 12px rgba(0, 0, 0, .3);
}

.SpiffCalendar .day.today {
background: #e87722;
}

.SpiffCalendar .day.filler>* {
opacity: .5;
}

.SpiffCalendar .day.active {
position: absolute;
z-index: 14;
margin: 0;
padding: .5em;
}

.SpiffCalendar .day.draghover {
box-shadow: 0 5px 6px rgba(0, 0, 0, .3);
}

.SpiffCalendar .day .wrapper {
display: flex;
flex-direction: column;
width: 100%;
}

.SpiffCalendar .day #day_number {
flex: 0;
font-size: 1.5em;
text-align: left;
padding: 4px 2px 0 4px;
min-height: 1.4em;
}

.SpiffCalendar .day #footnote {
position: absolute;
bottom: 0;
width: 100%;
z-index: 13;
opacity: 0;
background-color: white;
font-size: .9em;
min-height: 1.7em;
-webkit-transition: opacity .4s;
-moz-transition: opacity .4s;
-o-transition: opacity .4s;
transition: opacity .4s;
}

.SpiffCalendar .day:hover #footnote {
opacity: 1;
}

.SpiffCalendar #events {
flex: 1 1 0%;
display: flex;
flex-direction: column;
font-size: .9em;
padding: 3px;
}

.SpiffCalendar .event {
overflow: hidden;
margin: 1px .2em;
border-radius: 3px;
white-space: nowrap;
z-index: 12;
color: #666;
background-color: white;
border: 1px solid white;
padding: .05em .2em;
text-align: left;
min-height: 1.7em;
box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
-webkit-transition: min-height .2s, background-color .2s;
-moz-transition: min-height .2s, background-color .2s;
-o-transition: min-height .2s, background-color .2s;
transition: min-height .2s, background-color .2s;
}

.SpiffCalendar .day.active .event {
z-index: 15;
}

.SpiffCalendar .day.active .wrapper {
display: block;
overflow-y: auto;
}

.SpiffCalendar .ui-draggable-dragging {
z-index: 50;
}

.SpiffCalendar .event .label {
overflow: hidden;
}

.SpiffCalendar .event a {
padding-left: .5em;
padding-right: .5em;
width: 3.5rem;
height: 1.8rem;
}

.SpiffCalendar .event a i {
line-height: 1rem;
height: 1rem;
}

.SpiffCalendar .event input {
width: 100%;
}

.SpiffCalendar .event .editor {
max-height: 0.0001px;
overflow: hidden;
-webkit-transition: max-height .4s;
-moz-transition: max-height .4s;
-o-transition: max-height .4s;
transition: max-height .4s;
}

.SpiffCalendar .event.unfolded .editor {
max-height: 500px;
}

.SpiffCalendar .event.unfolded .label {
height: 0.0001px;
}

.SpiffCalendar #event-buttons {
margin: .5em .3em;
text-align: right;
}

.SpiffCalendar #button-delete {
float: left;
}

.SpiffCalendar .event #label-icon {
background-size: 11px 11px;
background-repeat: no-repeat;
background-position: left center;
}

.SpiffCalendar .event.recurring #label-icon {
background-image: url(../icons/recurring.svg);
padding-left: 15px;
}

.SpiffCalendar .event.exception #label-icon {
background-image: url(../icons/exception.svg);
padding-left: 15px;
}

.SpiffCalendar .event:not(.timed) {
background-color: #f90;
border-color: #f90;
}

.SpiffCalendar .event.unfolded {
flex: 0 1 auto;
white-space: normal;
background-image: none;
background-color: white;
border-color: #f90;
margin-bottom: .4em;
}

.SpiffCalendar #ellipsis {
width:100%;
display: none;
position:absolute;
bottom:0px;
text-align:center;
height: 1.4em;
z-index: 12;
background-color: white;
font-size: .9em;
}

.SpiffCalendar #ellipsis.visible {
display: block;
}

.SpiffCalendar .day.active #ellipsis {
display: none;
}
